.list-group-root .list-group-child > .list-group-item {
  padding-left: 40px;
}

.list-group-root .list-group-child > .list-group-child > .list-group-item {
  padding-left: 60px;
}

.list-group-root .list-group-child > .list-group-child >  .list-group-child > .list-group-item {
  padding-left: 80px;
}